*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    height: 400px;
    width: 400px;
    background-color: burlywood;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /*Margin suto karne se box jo hai center mein aa jayega*/
    transition: all 3s linear 0.2ms; /*It is a short-hand notation of transition*/
                                      /*Four values applied in transitions: first value= Transition-property
                                                                            second value=tans. duration
                                                                            third value=transition timing fn.
                                                                            fourth value=transition-delay*/
}

p{
    font-size: 36px;
}

.box:hover{
    /*BY using the transform we rotated the box by 45 degree*/
    transform: rotate(45deg);
    transform: rotate(-45deg); /*isse anti-clock-wise direction mein rotate hoga box */
    transform: scale(2); /*ismein humne 'scale' ka use kiya hai or usmein value 2 input kardi jisse ki box kaa 
                           size 2 times bigger ho jaayega jab hum cursor ko hover karenge box par */
    transform: scale(0.5); /*Isse size decrease ho jaayega box kaa*/  
    
    transform: skew(20deg); /* "Skew" ka use karke hum 'tilt' kara sakte hain item ko box ko*/
    transform: skewY(20deg); /*isse box jo hai Y-axis par tilt hoga or agar hum axis naa provide kare toh by
                               default box jo hai X-axis par tilt hoga*/

    transform: translate(500px); /*Item ko move karne ke liye hum 'translate' kaa use karte hain or usmein hum
                                   X and Y-axis ki value pass karte hain i.e. humein box ko X-axis par or Y-axis
                                   par kitna move karana hai and agar ek hi value di hai toh by-default jo hai
                                   x-axis par hi move karega box*/
    transform: translate(500px, 500px);  
    
    transform: matrix(1, 2, 3, 4, 5, 6);
}
