*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b846c;
    background-image: linear-gradient(270deg, #0b846c 0%, #81ff7d 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    position: relative;
    height: 460px;
    width: 300px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        transition: all;
        transition-duration: 0.2s;
        transition-delay: 2ms;
        transition-timing-function: linear;
        border-radius: 15px;
    }
    
    .card:hover{
        scale: 1.1;
        box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

.usericon img{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
}

.iconContainer{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 250px;
    background-color: #0b846c;
    background-image: linear-gradient(270deg, #0b846c 0%, #069059 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.usericon h3{
    position: absolute;
    top: 200px;
    left: 110px;
    color: white;
}

.usericon p{
    position: absolute;
    top: 220px;
    left: 95px;
    color: white;
}

.details{
    display: flex;
    width: 270px;
    height: 230px;
    position: absolute;
    top: 230px;
    color: #0b846c;
}

#text1 h4{
    position: relative;
    top: 50px;
    left: 60px;
}

#text1 h5{
    position: relative;
    top: 50px;
    left: 62px;
}

#text2 h4{
    position: relative;
    top: 52px;
    left: 62px;
}

#text2 h5{
    position:relative;
    top: 50px;
    left: 62px;
}

#text3 h4{
    position: relative;
    top: 50px;
    left: 62px;
}

#text3 h5{
    position: relative;
    top: 50px;
    left: 63px;
}

ul{
    list-style-type: none;
}

#phoneIcon{
    position: relative;
    top: 20px;
    left: 20px;
}

#emailIcon{
    position: relative;
    top: 20px;
    left: 20px;
}

#webIcon{
    position: relative;
    top: 20px;
    left: 20px;
}